<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Immersion: Image Generator</title>
</head>
<body>
    <h1>Tech Immersion: Image Generator</h1>
    <p>I intend to use this page for demonstrating observability in SRE</p>

    <form action="{{ url_for('search')}}" method="post">
        <label for="searchText">What image do you want to generate? </label>
        <input type="text" id="searchText" name="searchText"><br><br>
        <input type="submit" value="Search">
    </form>

    <br><br>
    {% if output %}
        {% if output.output_url %}
        <h2>{{output.search_text}}</h2>
        <img src="{{output.output_url}}" />
        {% endif %}
        {% if output.err %}
        <p>There was an error generating the image. Reason: {{output.err}}</p>
        {% endif %}
    {% endif %}

    {% if error %}
    <p>{{error}}</p>
    {% endif %} 
</body>
</html>